.product {
  margin-top: 100px;
  margin-bottom: 0;
  border: 1px solid #2a414f;
  border-radius: 5px;
  height: 510px;
  position: relative;
}
.product img {
  width: 100%;
  height: 60%;
  border-radius: 8px;
}

.product-info {
  margin-top: 0px;
  padding: 0 10px;
}
.product-info p {
  line-height: 7px;
}
.btn-cart {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ffe0b3;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-cart .btn-btn-text {
  margin-right: 10px;
}
.btn-cart:hover {
  background-color: orange;
}
